@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
body{
    margin: 0;
}
.content {
    position: fixed;
    padding: 1em 3em;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 25%;
    background-color: #CCCCCC;
    color: #2233AA;
    border-color: #2233AA;
    border-style: solid;
    border-width: 2px;
    border-radius: 2em;
}
.content #hourglassContainer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.content h1{
    text-align: center;
    font-family: 'Merriweather', serif;
}
.content #text{
    text-align: center;
    font-family: sans;
    font-family: 'Merriweather Sans', sans-serif;
}
