@keyframes contract {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
} 


svg.animated circle.top {
    transform: scale(1);
    animation: contract 1s ease 1;
    animation-fill-mode: forwards;
}

@keyframes expand {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
} 

svg circle.bottom {
    transform: scale(0);
}
svg.animated circle.bottom {
    transform: scale(0);
    animation: expand 1s ease 1;
    animation-fill-mode: forwards;
}

#t1, #b1 {
    animation-delay: 0s;
}
#t2, #b2 {
    animation-delay: 1s;
}
#t3, #b3 {
    animation-delay: 2s;
}
#t4, #b4 {
    animation-delay: 3s;
}
#t5, #b5 {
    animation-delay: 4s;
}
#t6, #b6 {
    animation-delay: 5s;
}
#t7, #b7 {
    animation-delay: 6s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(900deg); }
} 

svg.animated #layer1 {
    animation: rotate 500ms ease 1;
    animation-fill-mode: forwards;
    animation-delay: 7s;
}

svg.spinning #layer1 {
    animation: spin 500ms ease 1;
    animation-fill-mode: forwards;
    animation-delay: 0;
}

svg path, svg rect, svg circle {
    fill: #2233AA;
}
svg {
    width: 120px;
    height: 120px;
}



